<Config>
  <LogLevel>Info</LogLevel>
  <Port>{{ radarr_port }}</Port>
  <UrlBase>{{ radarr_urlbase }}</UrlBase>
  <BindAddress>{{ radarr_bindaddress }}</BindAddress>
  <SslPort>{{ radarr_sslport }}</SslPort>
  <EnableSsl>{{ radarr_enablessl }}</EnableSsl>
  <ApiKey>{{ radarr_apikey }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>{{ radarr_branch }}</Branch>
</Config>