[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
User={{ radarr_user }}
Group={{ radarr_group }}

Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /home/{{ radarr_user }}/.config/Radarr
ExecStartPre=/bin/chown {{ radarr_user }}:{{ radarr_group }} -R /home/{{ radarr_user }}/.config/Radarr
ExecStart=/usr/bin/mono /opt/Radarr/Radarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target